variables: 
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
    
stages: 
    - build
    - test

build: 
    stage: build 
    script: 
        - cd backend
        - ./gradlew assemble 
    
test: 
    stage: test 
    script: 
        -cd backend
        - ./gradlew test
